body {
    background-color: snow;
}

#page-title {
    text-align: center;
    color: white;
    background-color: deepskyblue;
    width: 100%;
    height: 50px;
    
}

.cloud-color {
    color: whitesmoke;
}

.center {
 text-align: center;
}

#search {
    padding-top: 1%;
    /* border: thin solid lightslategray; */
    background-color: white;
}

.forecast-box {
    background-color: deepskyblue;
    color: white;
    display: inline-block;
    height: 200px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    margin-left: 1.5%;
    font-weight: 500;
    padding-top: 10px;
    
}

#uv {
    background-color: snow;
    text-align: center;
}

#uv {
    width: 10%;
    margin-left: 45%;
}